html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dark-text{
    color:#3E435D;
}
.gray-text{
    color:#ADA7A7;
}
#container{
    display: flex;
    flex-direction: row;
}
#navbar{
    padding-top: 159px;
    padding-bottom: 523px;
    width: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}
#navbar .navbar-box{
    padding: 17px 27px;
    height: 58px;
}
.icon{
    width: 24px;
    height: 24px;
}
#main{
    padding: 32px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #F9F9F9;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#left-header{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#right-header{
    display: flex;
    gap: 20px;
}
#search{
    padding: 14px 20px;
    display: flex;
    gap: 16px;
    width: 354px;
    height: 52px;
    border-radius: 8px;
    align-items: center;
    background-color: #FFFFFF;
}
#notification{
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: #FFFFFF;
    border-radius: 8px;
}
#content-container{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#content{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#alexa-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#alexa-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
#edit-button{
    display: grid;
    place-content: center;
    width: 93px;
    height: 44px;
    border-radius: 8px;
    background-color: #4182F9;
    color: #FFFFFF;
}
#alexa-information{
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
}
.input-box{
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.select-box{
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #F9F9F9;
}
#alexa-contact{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
#alexa-email{
    display: flex;
    gap: 20px;
    align-items: center;
}
#email-address{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#add-email{
    display: grid;
    place-content: center;
    width: 209px;
    height: 44px;
    border-radius: 8px;
    background-color: #ECF2FE;
    color:#4182F9;
}